html {
    box-sizing: border-box;
    background-color: #f6e8ea;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.wave {
    background-image: url("../images/wave.svg");
    background-size: cover;
    height: '100vh';
    min-height:'100vh';
    margin-bottom: 15vh;
}

.main-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 6%; 
}

.hi {
    font-size: 7vh;
}

.title {
    padding-right: 1%;
    text-align: end;
    font-weight: 500;
    font-size: 4vh;
    font-family: 'Josefin Sans';
}

.cartoon {
    background-image: url("../images/rabbit_hole.png");
    background-size: cover;
    width: 62vh;
    height: 75vh;
    display: flex;
    align-self: center;
    padding-left: 1%;
}

.arrow-wrap {
    display: flex;
    justify-content: center;
}

.down-arrow {
    background-image: url("../images/down-arrow.png");
    background-size: cover;
    width: 2rem;
    height: 2rem;
    margin: 3rem;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}