html {
    Box-sizing: border-box;
}

.main-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 4rem; 
}

.header {
    font-size: 3rem;
}

.rectangle {
    width: 100%;
    height: 20px;
    z-index: 3;
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    filter: blur(4px);
    background-size: 400%;
    border-radius: .5;
}

.title {
    color: whitesmoke;
    background-color: black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-right: 1%;
    text-align: end;
    font-weight: 200;
    font-size: 1.7rem;
    font-family: 'Roboto Slab', serif;
}

.cartoon {
    background-image: url("../images/profile_cartoon.png");
    background-size: cover;
    width: 26rem;
    height: 26rem;
    display: flex;
    align-self: center;
}

.arrow-wrap {
    display: flex;
    justify-content: center;
}

.down-arrow {
    background-image: url("../images/down-arrow.png");
    background-size: cover;
    width: 2rem;
    height: 2rem;
    margin: 3rem;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}