.nav-wrap {
    display: flex;
    justify-content: space-between;
    padding: .5rem 2.5rem 0 0;
}

.nav-list {
    width: 50%;
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 3vh;
    margin: 0;
    padding: .2vh;
    display: flex;
    justify-content: space-between;
    align-content: center;
    top: 0;
    list-style: none;
}


li, a {
    color: black;
    text-decoration: none;
    padding: .3rem;
}

.nav-list li {
    transition: 1s box-shadow;
    border-radius: 10px;
}

.nav-list li:hover{
    background-color: #f6e8ea;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sticky {
    margin-left: 1rem;
}

.icon-wrap-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
}

.nav-icons {
    width: 4.5vh;
    height: 4.5vh;
    padding-right: 1vh;
}

@media screen and (max-width: 400px) {
    .nav-list li, .nav-list a {
        display: none;
    }

    .nav-icons {
        width: 2.7rem;
        height: 2.7rem;
        margin: 0 .5rem 0 .5rem;
    }
}

.nav-icons:hover {
    opacity: 50%;
}