
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
    overflow: scroll;
    font-family: 'Roboto Slab', serif;
}

.popup-wrap {
    position: absolute;
    text-align: center;
    left: 14%;
    right: 14%;
    top: 11%;
    bottom: 11%;
    margin: auto;
    min-width: 262px;
    padding-bottom: 3rem;
    overflow: scroll;
    background-color: #f6e8ea;
}

.button-wrap {
    text-align: end;
}

.popup-button {
    background-color: #f2c885;
    color: black;
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-image: url("../images/button_wave.svg");
    background-size: cover;
    font-weight: bold;
    text-align: center;
}

.title-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-wrap h1 {
    font-size: 3.6rem;
}

.head-photo .modal-image {
    width: 55%;
    margin: 1rem;
    padding: 0;
}

.modal-image {
    margin-bottom: 4rem;
    position: relative;
    text-align: center;
}

.modal-image:hover {
    opacity: 80%;
    cursor: pointer;
}

.modal-image:hover .image-writing{
    opacity: 100%;
}

.image-writing {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.4rem;
    font-weight: bold;
    color: black;
    opacity: 0;
    border: solid black 2px;
    background-color: #f6e8ea;
    border-radius: 20px;
    padding: 1rem;
}

.main-side-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.side-info, .side-info ul, .main-work-wrap, .sidebar-wrap, .about-work-wrap {
    margin: .5rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.side-info p {
    margin: .5rem;
}

.side-info li {
    padding: 0 0 .4rem .3rem;
    list-style-type: square;
    font-size: 1.3rem;
}

.about-title-p {
    margin: 0;
    padding: 0;
    font-weight: 100;
    font-size: 3rem;
}

.sidebar-title {
    margin: .6rem 0;
    padding: 0;
    text-align: left;
    color: #828282;
    font-size: 1.5rem;
}

.work-p {
    text-align: left;
    flex-wrap: wrap;
    font-size: 1.3rem;
}

.launch {
    background-color: #4155D1;
    width: auto;
    height: auto;
    font-size: 1.2rem;
    padding: .5rem;
    font-family: 'Roboto Slab', serif;
    cursor: pointer;
}

.launch a {
    background-color: #4155D1;
    color: #F5F6F0;
}

video {
    margin: 5rem;
}

.head-photo {
    width: 60%;
    height: auto;
    margin: 1rem;
}

