@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Yeseva+One&display=swap');

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Yeseva One', cursive;
}

.page-titles {
  font-size: 4vh;
  text-align: center;
  margin-top: 4vh;
}
